:root {
  --background-color: #181a1b;
  --font_color_white: #e8e6e3;
  color: var(--font_color_white);
  font-size: 20px;
  --main_container_gap: 1.5rem;
  --add_button_blue_background: #009de7;
  --add_button_blue_background_ligther: #42c3ff;
  --border_color_grey: #858585;
  --border_radius: 10px;
  --form_border: 2px var(--border_color_grey) solid;
}

html,
body {
  background-color: var(--background-color);
  font: 1rem sans-serif;
}

/* * {
  border: 2px red solid;
  margin: 1px;
} */

/* ********************************* */
/* for main_container, background, buttons and font colors */
/* ********************************* */

.main_container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 40px 100px;
  gap: var(--main_container_gap);
}

button {
  cursor: pointer;
  color: var(--font_color_white);
  background-color: var(--add_button_blue_background);
  border-radius: var(--border_radius);
  font-size: 1.2rem;
  border: none;
}
button:hover {
  transform: scale(1.1);
  background-color: var(--add_button_blue_background_ligther);
}

/* ********************************* */
/* for the header */
/* ********************************* */

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--main_container_gap);
}

.header .logo {
  height: 200px;
  width: auto;
}

.header button {
  width: 90px;
  height: 90px;
  border-radius: 180px;
  border: none;
  align-self: center;
  text-align: center;
  font-size: 3rem;
}
.header .button:hover {
  background-color: var(--add_button_blue_background_ligther);
  transform: scale(1.1);
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
}

p a {
  color: var(--add_button_blue_background);
}

a:hover {
  color: var(--add_button_blue_background_ligther);
}
/* ********************************* */
/* for the books */
/* ********************************* */

.book_table {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
}

.book_table > .titles_book_table {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr 1fr;
  gap: 8px;
  border-bottom: 2px var(--border_color_grey) solid;
  padding: 20px 0;
  font-weight: 600;
}

.book_table > .all_books {
  display: grid;
  grid-template-columns: 1fr;
}

.book_table > .all_books > .book {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 4fr 2fr 1fr;
  gap: 8px;
  border-bottom: 2px var(--border_color_grey) solid;
  padding: 10px 0;
  font-size: 0.8rem;
}

.book_table > .all_books > .book > button.is_read {
  width: 90px;
  height: 40px;
  color: black;
  font-weight: 600;
  margin-left: 8px;
}
.book_table > .all_books > .book > button.remove_book {
  width: 40px;
  height: 40px;
  border-radius: 180px;
  background-color: transparent;
}
.book_table > .all_books > .book > button.remove_book:hover {
  transform: scale(1.2);
}

/* testing here */
/* form */

/* for the form, background and colors are reversed */
.form {
  border: var(--form_border);
  background-color: var(--font_color_white);
  color: var(--background-color);
  font-size: 1rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms;
  border-radius: var(--border_radius);
  z-index: 10;

  width: 500px;
  max-width: 80%;
  height: 300px;
  max-height: 80%;
  padding: 40px 30px;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--form_border);
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 16px;
}

.form header button {
  background-color: transparent;
  color: var(--background-color);
}

.form .form_row {
  display: flex;
  gap: 8px;
}

.form .form_submit {
  align-self: center;
  padding: 4px 12px;
  margin-top: 20px;
  color: var(--background-color);
  font-weight: 600;
  font-size: 1rem;
}

.form .form_author,
.form .form_title {
  align-self: center;
  width: 70px;
}
.form input {
  border-radius: var(--border_radius);
  border: 2px var(--background-color) solid;
  padding: 12px;
}

/* setting up the form pop-up */

.overlay_for_form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}
.overlay_for_form.active {
  opacity: 1;
  pointer-events: all;
}

.form.active {
  transform: translate(-50%, -50%) scale(1);
}
